*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body-custom {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

html[fullscreen] .card-custom {
    min-width: 80vw;
}